@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.question__title {
  position: relative;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #280244;
  text-decoration: none; }
  .question__title:before {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 2px;
    left: -37px;
    top: 3px;
    background-color: #280244;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .question__title:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 2px;
    left: -37px;
    top: 3px;
    background-color: #280244;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  @media (max-width: 768px) {
    .question__title {
      font-size: 16px; }
      .question__title:before {
        left: -35px; }
      .question__title:after {
        left: -35px; } }
