.top-header__logo {
  display: block;
  width: 131px;
  height: 24px; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.top-header__title {
  position: relative;
  left: -22px;
  font-size: 36px;
  font-family: "Gilroy-ExtraBold";
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #3b1359;
  letter-spacing: 1.34px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.country .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.country .select {
  padding-right: 13px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: auto; }

.country .select-styled {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Gilroy-Light";
  font-weight: 500;
  letter-spacing: 1px; }
  .country .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 7px;
    right: 0; }
  .country .select-styled:active:after, .country .select-styled.active:after {
    top: 5.5px;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #ffffff transparent; }

.country .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white; }

.country .select-options li {
  margin: 0;
  padding: 6px 0;
  text-align: center;
  color: #3b1359;
  font-size: 14px;
  font-family: "Gilroy-Light";
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #3b1359;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }
  .country .select-options li a {
    color: #3b1359;
    font-size: 14px;
    font-family: "Gilroy-Light";
    font-weight: 600;
    text-decoration: none; }
  .country .select-options li:hover {
    color: #FF2394;
    background: #fff; }

.country .select-options li[rel="hide"] {
  display: none; }

.top-header {
  top: -70px;
  left: 0;
  z-index: 3;
  padding: 13px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .top-header.top-header_sticky {
    top: 0;
    padding: 13px 167px;
    position: fixed;
    background: #3b1359;
    background: -webkit-gradient(left top, right top, color-stop(0%, #3b1359), color-stop(100%, #320256));
    background: -webkit-linear-gradient(left, #3b1359 0%, #320256 100%);
    background: -o-linear-gradient(left, #3b1359 0%, #320256 100%);
    background: -webkit-gradient(linear, left top, right top, from(#3b1359), to(#320256));
    background: linear-gradient(to right, #3b1359 0%, #320256 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b1359', endColorstr='#320256', GradientType=1 ); }
    .top-header.top-header_sticky .top-header__title {
      opacity: 1; }
  @media (max-width: 1200px) {
    .top-header.top-header_sticky {
      padding: 13px 100px; } }
  @media (max-width: 768px) {
    .top-header.top-header_sticky {
      padding: 13px 20px; }
      .top-header.top-header_sticky .top-header__logo {
        display: none; }
      .top-header.top-header_sticky .top-header__title {
        left: 0; } }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.main-header__box-title {
  position: relative;
  max-width: 865px;
  margin: 0 auto; }
  .main-header__box-title:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: -13px;
    right: 54px;
    display: block;
    width: 110px;
    height: 110px;
    background-image: url(../../../../img/bubble.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
  @media (max-width: 1200px) {
    .main-header__box-title {
      max-width: none;
      width: 665px; }
      .main-header__box-title:after {
        right: -25px; } }
  @media (max-width: 768px) {
    .main-header__box-title {
      width: 100%; }
      .main-header__box-title:after {
        display: none; } }

.main-header__title {
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 1.1px;
  color: white;
  line-height: 1; }
  .main-header__title_bold {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #3b1359;
    letter-spacing: 1.34px; }
  @media (max-width: 768px) {
    .main-header__title {
      font-size: 50px;
      line-height: 1; } }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.main-header__sub-title {
  margin: 10px 0 0 0;
  font-family: "Gilroy-Light";
  font-weight: 600;
  color: #9F89AE;
  letter-spacing: 0.28px;
  font-size: 16px; }
  .main-header__sub-title_link {
    color: #ff2394;
    text-decoration: none; }
  @media (max-width: 768px) {
    .main-header__sub-title {
      margin-top: 20px;
      font-size: 14px; } }

.main-header {
  padding-top: 112px;
  padding-bottom: 144px;
  text-align: center; }

.bottom-header__list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5); }
  @media (max-width: 768px) {
    .bottom-header__list {
      width: 100%; } }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.bottom-header__item {
  display: inline-block;
  margin: 0;
  padding: 20px 54px;
  font-family: "Gilroy-Light";
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #380D58;
  background-color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }
  .bottom-header__item_selected {
    background-color: #ff2394;
    color: white !important; }
  .bottom-header__item:hover {
    color: #8a7599; }
  @media (max-width: 768px) {
    .bottom-header__item {
      padding: 12px 5px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center;
      font-size: 12px; } }

.bottom-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }
  .bottom-header_sticky {
    position: fixed;
    -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
            transform: translateY(70px); }
  @media (max-width: 768px) {
    .bottom-header_sticky .bottom-header__list {
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px); } }

.header {
  min-height: 468px;
  padding: 0 167px;
  background: #3b1359;
  background: -webkit-gradient(left top, right top, color-stop(0%, #3b1359), color-stop(100%, #320256));
  background: -webkit-linear-gradient(left, #3b1359 0%, #320256 100%);
  background: -o-linear-gradient(left, #3b1359 0%, #320256 100%);
  background: -webkit-gradient(linear, left top, right top, from(#3b1359), to(#320256));
  background: linear-gradient(to right, #3b1359 0%, #320256 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b1359', endColorstr='#320256', GradientType=1 );
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1200px) {
    .header {
      padding: 0 100px; } }
  @media (max-width: 991px) {
    .header {
      padding: 0 50px; } }
  @media (max-width: 768px) {
    .header {
      min-height: unset;
      padding: 0 20px; } }
