<!-- MAIN HEADER PART -->
<div class="main-header">
    <div class="main-header__box-title"><h1 class="main-header__title">
        <span class="main-header__title_bold">{{ .Site.Params.header_title_non_bold }}</span>
        {{ .Site.Params.header_title_bold }}</h1>
        <p class="main-header__sub-title">Can't find answer? Email us at
            <a class="main-header__sub-title_link" href="mailto:{{ .Site.Params.mdl_email }}">
                {{ .Site.Params.mdl_email }}</a> or
            <a class="main-header__sub-title_link" target="_blank" href="{{ .Site.Params.telegram }}">
                {{ .Site.Params.header_sub_title_link }}</a></p></div>
</div>