@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.question__title {
  position: relative;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #280244;
  text-decoration: none; }
  .question__title:before {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 2px;
    left: -37px;
    top: 3px;
    background-color: #280244;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .question__title:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 2px;
    left: -37px;
    top: 3px;
    background-color: #280244;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  @media (max-width: 768px) {
    .question__title {
      font-size: 16px; }
      .question__title:before {
        left: -35px; }
      .question__title:after {
        left: -35px; } }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.question__inner {
  display: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5B456B;
  line-height: 22px; }
  @media (max-width: 768px) {
    .question__inner {
      font-size: 14px; } }
  .question__inner ul, .question__inner ol {
    margin: 10px 5px 5px 5px; }
    @media (max-width: 768px) {
      .question__inner ul, .question__inner ol {
        padding-left: 20px; } }
  .question__inner a {
    text-decoration: none;
    font-weight: 700;
    color: #5B456B;
    font-size: 16px; }

.question {
  margin-top: 55px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }
  .question-link {
    padding: 20px 0 20px 81px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
  .question:hover {
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.39); }
  .question_opened {
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.39);
    padding: 32px 100px 50px 81px; }
    .question_opened .question-link {
      padding: 0; }
    .question_opened .question__inner {
      display: block; }
    .question_opened .question__title:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: #ff2394; }
    .question_opened .question__title:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #ff2394; }
  @media (max-width: 768px) {
    .question {
      margin-top: 45px;
      padding: 0 0 0 70px; }
      .question_opened {
        padding: 30px 30px 30px 70px; }
      .question:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }
      .question-link {
        padding: 0 0 0 70px; } }

.main-content {
  padding: 15px 0 90px 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .main-content__inner {
    max-width: 643px;
    margin: 0 auto; }
  @media (max-width: 768px) {
    .main-content {
      padding: 0 0 70px; }
      .main-content__inner {
        padding: 0 20px; } }
