<footer>
    <div class="container">
        <div class="row">
            <div class="link-f--wrapper">
                <a class="link-f" target="_blank" href="https://mdl.life/whitepaper/WhitePaper_eng_1.6.4.pdf">White paper</a>
                <a class="link-f" href="http://mdl.wtf" target="_blank">Blog</a>
            </div>
            <ul>
                <li class="community-link">
                    <a href="https://www.fb.com/mdltalenthub" target="_blank">
                        <img class="one" src="{{ "img/footer/fb_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/fb2.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://github.com/MDLlife/" target="_blank">
                        <img class="one" src="{{ "img/footer/Github_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/Github_f2.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://www.linkedin.com/company/18324359/" target="_blank">
                        <img class="one" src="{{ "img/footer/linkedin_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/linkedin2.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://steemit.com/@mdl" target="_blank">
                        <img class="one" src="{{ "img/footer/steemit_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/steemit2.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://t.me/MDL_Talent_Hub" target="_blank">
                        <img class="one" src="{{ "img/footer/telegram_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/telegrammm22.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://twitter.com/MDL_Talent_Hub" target="_blank")>
                        <img class="one" src="{{ "img/footer/twitter_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/twitter22.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://www.youtube.com/channel/UCa8YMIZgtCo6a7M6tcjtG9g" target="_blank">
                        <img class="one" src="{{ "img/footer/youtube_f.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/youtube_f2.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://bitcointalk.org/index.php?topic=2621034" target="_blank">
                        <img class="one" src="{{ "img/footer/btt_logo.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/btt_logo.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://www.instagram.com/mdl_talent_hub/" target="_blank">
                        <img class="one" src="{{ "img/footer/inst.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/inst.svg" | absURL }}" alt="">
                    </a>
                </li>
                <li class="community-link">
                    <a href="https://vk.com/mdl_talent_hub" target="_blank">
                        <img class="one" src="{{ "img/footer/vk.svg" | absURL }}">
                        <img class="two" src="{{ "img/footer/vk.svg" | absURL }}" alt="">
                    </a>
                </li>
            </ul>
            <div class="media-banner-wrapper">
                <div class="media-banner">
                    <a target="_blank" href="https://riseconf.com"><img
                            src="{{ "img/media/R18_badgesAlpha.png" | absURL }}" alt=""></a>
                </div>
            </div>
            <h2><a href="#">MDL<span>Talent Hub</span></a></h2>
            <div class="col-md-3 offset-md-1 f-t">
                <a href="https://mdl.life/docs/MDL_Terms_Of_Use.pdf" target="_blank">Website Terms of Use</a>
                <br>
                <a href="https://mdl.life/docs/MDL_Privacy_Policy.pdf" target="_blank">Privacy Policy</a> <br>
                <a href="https://mdl.life/docs/MDL_Terms_And_Conditions.pdf" target="_blank">MDL Token Crowdsale
                    Agreement</a> <br>
                <a href="http://explorer.mdl.life" target="_blank">MDL Explorer</a> <br>
            </div>
            <div class="col-md-4 f-g">
                MDL (SG) PTE. LTD. (201807451Z) <br>
                6 RAFFLES QUAY #33-03 <br>
                HONG LEONG BUILDING SINGAPORE (048581) <br>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ "app/js/common.js" | absURL }}"></script>
</body>
</html>