<main class="main-content">
    <div class="main-content__inner">
        {{if .IsHome}}
            {{ range .Site.Taxonomies.categories.business_model }}
                <article class="question">
                    <a class="question-link" href="{{ .Permalink }}"><h3 class="question__title">{{ .Title }}</h3></a>
                    <div class="question__inner">
                        {{ .Content }}
                    </div>
                </article>
            {{ end }}
        {{else}}
            {{ range .Data.Pages }}
                <article class="question">
                    <a class="question-link" href="{{ .Permalink }}"><h3 class="question__title">{{ .Title }}</h3></a>
                    <div class="question__inner">
                        {{ .Content }}
                    </div>
                </article>
            {{ end }}
        {{end}}
    </div>
</main>

